<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Montserrat:700,400" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/appop.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href=" {{ url_for("static", filename="img/favicon.ico") }} ">

    <title>{{ titulo }}</title>
</head>

<body>
    <header id="header" class="position-sticky sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark container">
            <a class="navbar-brand" href="/"><img src=" {{ url_for('static', filename='img/logo-apppop-header.png') }}" alt="Apppop" width="149"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <span class="navbar-nav mr-auto"></span>
                <ul class="navbar-nav">
                    {% if tipo and dni %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bienvenido otra vez {{ tipo }} ({{ dni }})</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/mypopapp/">MyApppop</a>
                    </li>
                    {% if dni %}
                    <li class="nav-item">
                        <a class="nav-link nav-btn gradiente" href="{{ url_for('logout') }}">Log out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link nav-btn gradiente" href="/login">Logeate</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    {% block content %}{% endblock %}

    <!--Footer-->
    <footer id="footer" class="espacio">
        <div class="container">
            <div class="row">
    
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                            <h6>Popapp</h6>
                            <nav>
                                <a href="/apppop.io">Inicio</a>
                                <a href="/soporte">Soporte</a>
                                <a href="/login">Logearse</a>
                            </nav>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                            <h6>Redes sociales</h6>
                            <nav>
                                <a href="#">Instagram</a>
                                <a href="#">WhatsApp</a>
                                <a href="#">Youtube</a>
                            </nav>
                        </div>
            
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                            <h6>Soluciones</h6>
                            <nav>
                                <a href="/">Restaurante</a>
                            </nav>
                        </div>
                
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-12 text-right">
                    <a href="/">
                        <img src=" {{ url_for('static', filename='img/logo-apppop-footer.png') }}"  alt="Apppop" width="145">
                    </a>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                </div>
            </div>
        </div>
    </footer>
    <!--Fin de Footer-->
    <!--Scripts-->
    
</body>

</html>