{% extends "base_template.html" %}
{% block content %}

<div id="header-marzo">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-8 col-sm-12 col-12">
                <h2 class="volanta text-white">
                    Apppop software de gestion
                </h2>
                <h1>
                    {% if tipo == 'Mozo' %}
                    Aquí comienza la gastronomía smart
                    Comenzá a crear pedidos para el chef!
                    {% else %}
                    La apliación web de gestión
                    que permite un manejo
                    mas eficiente de pedidos
                    para tu restaurante
                    {% endif %}
                </h1>
                <a href=
                {% if tipo == 'Mozo' %}
                    "{{ url_for('registrarPedido') }}"
                {% else %}
                "/login"
                {% endif %}
                class="mt-3 boton gradiente">
                    {% if tipo == 'Mozo' %}
                    Nuevo Pedido
                    {% else %}
                    Iniciar Sesión
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}