{% extends "base_template.html" %}
{% block content %}
<div id="header-marzo">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-8 col-sm-12 col-12">
                <h2 class="volanta text-white">
                    Apppop software de gestion
                </h2>
                <h1>
                    La apliación web de gestión
                    que permite un manejo
                    mas eficiente de pedidos
                    para tu restaurante
                </h1>
                <a href="/login" class="mt-3 boton gradiente">Iniciar Sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}