{% extends "base_template.html" %}
{% block content %}

<div id="header-marzo">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-8 col-sm-12 col-12">
                <h2 class="volanta text-white  wow fadeInDown">
                    Apppop software de gestion
                </h2>
                <h1 class="animated fadeInDown">
                    {% if tipo == 'Mozo' %}
                    Aquí comienza la gastronomía smart
                    Comenzá a crear pedidos para el chef!
                    {% elif tipo == 'Cocinero' %}
                    Aquí comienza la gastronomía smart
                    Verificá que no tengas pedidos pendientes!
                    {% else %}
                    La apliación web de gestión
                    que permite un manejo
                    mas eficiente de pedidos
                    para tu restaurante
                    {% endif %}
                </h1>
                <a href=
                {% if tipo == 'Mozo' %}
                    "{{ url_for('registrarPedido') }}"
                {% elif tipo == 'Cocinero' %}
                    "{{ url_for('verPedidos') }}"                
                {% else %}
                "/login"
                {% endif %}
                class="mt-3 boton gradiente wow fadeInDown">
                    {% if tipo == 'Mozo' %}
                    <span class="material-icons aling-icon">storefront</span> Nuevo Pedido
                    {% elif tipo == 'Cocinero' %}
                    <span class="material-icons aling-icon">
                        restaurant_menu
                        </span> Ver Pedidos
                    {% else %}
                    Iniciar Sesión
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}