{% extends "base_template.html" %}
{% block content %}

<div id="registro">
    <div class="container" style=" margin-top: 86px;">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <label for="mesa" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">Ingrese mesa</label>
                <select id="mesa" class="form-control form-control-sm col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <label for="observacion">Especificaciones del pedido</label>
                <textarea name="observacion" id="observacion" cols="10" rows="1"></textarea>
                <a  class="boton gradiente" id="confirmar">Confirmar pedido</a></div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <h3>Carta</h3>
                <ul class="list-group">
                    {% for producto in productos %}
                    <li class="list-group-item">
                        {{producto.nombre}}
                        <span class="badge badge-primary badge-pill">{{producto.precio}}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}