{% extends "base_template.html" %}
{% block content %}

<div id="registro">
    <div class="container" style=" margin-top: 86px; height: 100%;">
        <!--Formulario de Pedido-->
            <div class="row position-relative">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                    <form class="d-flex" style="height: 100%;" action="{{ url_for('handlePedido') }}" method="POST">
                        {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                            <div class="alert alert-success position-absolute" style="top:10px; right: 0px; text-align: center; width: 100%;" role="alert">
                                                {{ message }}
                                            </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        <label for="mesa" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 position-absolute" style="top: 85px; right: 330px;">Ingrese mesa</label>
                        <select id="mesa" class="form-control form-control-sm col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 position-absolute" style="top: 85px; right: 100px;" required name="mesa">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <div class="justify-content-center align-self-center w-100">
                            <h1 style="text-align: center;"> <span class="material-icons">
                                room_service
                                </span>
                                Orden</h1>
                            <ul class="list-group-flush order-list" style="overflow-y: scroll; display: block;">
                                <li class="list-group-item null-item">
                                    -
                                    <span class="badge badge-success badge-pill float-right">$$$</span>
                                </li>
                                <li class="list-group-item null-item">
                                    -
                                    <span class="badge badge-success badge-pill float-right">$$$</span>
                                </li>
                                <li class="list-group-item null-item">
                                    -
                                    <span class="badge badge-success badge-pill float-right">$$$</span>
                                </li>                    
                            </ul> 
                        </div>
                        <label for="observacion" class="position-absolute" style="bottom:85px; right: 330px;">Especificaciones del pedido</label>
                        <input type="text" name="items" id="items-number" disabled class="d-none">
                        <input type="text" name="observacion" id="observacion" class="position-absolute col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4" style="bottom:90px; right: 100px;"></input>
                        <button  class="boton gradiente position-absolute" id="confirmar" style="bottom:10px; margin-left:auto; margin-right:auto; left:0; right:0;">Confirmar pedido</button>
                    </form>
            </div>
            <!--Fin de Formulario de Pedido-->    
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 d-flex">
                <div class="justify-content-center align-self-center w-100">
                   <h1 style="text-align: center;"> <span class="material-icons">
                    restaurant_menu
                    </span> Carta</h1>
                    <ul class="list-group-flush">
                        {% if productos %}
                        {% for producto in productos %}
                        <li class="list-group-item product-item">
                            {{producto.nombre}}
                            <span class="d-none"> {{ producto.numProducto }} </span>
                            <span class="badge badge-success badge-pill float-right">$ {{producto.preciounitario}}</span>
                        </li>
                        {% endfor %}
                        {% else %}
                        <li class="list-group-item">
                            <h1>No se han encontrado productos</h1>
                        </li>
                        {% endif %}
                    </ul> 
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}