h2.volanta{
    margin-top: 9rem;
}
/*Login*/
#login{
    height: 559px;
    padding: 0;
}

#registro{
    height: 559px;
    padding: 0;
}

/*HEADER*/
#header-marzo{
    display: block;
    margin-top: 86px;
    width: 100%;
    height: 700px;
    background: url("../img/header.jpg") no-repeat center top;
    background-size: auto;
    background-size: 1920px;
    color: white;
}

/*links*/
a{
    transition: all 1s;
}

/*Pedidos Realizar*/
.row{
    height: 100%;
}

.order-list{
    height: 190px;
}

.product-item{
    cursor: pointer;
}

.badge-success{
    background-color: #2fb191 !important;
}

svg{
    position: absolute;
    bottom: 0px;
}